<h2>Sign up</h2>

<%= form_with model: @user, url: user_registration_path, class: 'registration-main', local: true  do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :"ニックネーム" %><br />
    <%= f.text_area :nickname %>
  </div>

  <div class="field">
    <%= f.label :"性別" %><br />
    <%= f.collection_select(:gender_id, Gender.all, :id, :name, {}, {}) %>
  </div>

  <div class="field">
    <%= f.label :"都道府県" %><br />
    <%= f.collection_select(:area_id, Area.all, :id, :name, {}, {}) %>
  </div>

  <div class="field">
    <%= f.label :"生年月日" %><br />
    <%= raw sprintf(
                  f.date_select(
                    :birthday,
                    class:'select-birth',
                    id:"birth-date",
                    use_month_numbers: true,
                    prompt:'--',
                    start_year: 1940,
                    end_year: (Time.now.year - 5),
                    date_separator: '%s'),
                  "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
  </div>



  <div class="field">
    <%= f.label :"自己紹介" %><br />
    <%= f.text_area :text %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 最小文字数)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
