<div>tag_new</div>
  <%= form_with(model:@tag ,local: true) do |f| %>
  <%= render 'shared/error_messages', model: f.object %>
<div>
  <div>タグの名前</div>
    <%= f.text_area :tag_name, placeholder:"タグ名" %>
</div>

<div>
  <%= f.submit "作成する" ,class:"post-btn" %>
  <%=link_to 'もどる', root_path, class:"back-btn" %>
</div>
<% end %>