<%= render "shared/header" %>

<div>みんなの投稿</div>
<div>
  <% @posts.each do |post| %>
    <div>
      <%=post.title%>
      <%=post.post_text%>
      <%=post.user.nickname%>
    </div>
  <% end %>
</div>

<div>
  <%= link_to(new_post_path) do %>
    <span>投稿</span>
  <% end %>
</div>