<%= render "shared/header" %>

<div>みんなの投稿</div>
<div>
  <% @posts.each do |post| %>
    <div>
      <%=post.title%>
      <%=post.post_text%>
      <%=post.user.nickname%>
    </div>
  <% end %>
</div>

<div>
  <%= link_to(new_post_path) do %>
    <span>投稿</span>
  <% end %>
</div>

<%= link_to(new_tag_path) do %>
  <span>タグをつくる</span>
<% end %>
<div>タグ一覧</div>
<% @tags.each do |tag| %> 
  <%= tag.tag_name %>
<% end %>